# Ignore all work folders (folders containing data)

*.log
*.tmp
*.csv
*.sav
*.nc
climate-projection-module/work
zonal-statistics-module/work
dengue-infection-module/work
machine-learning-module/work

# Ignore legacy projects
others/

# Snakemake
.snakemake/
**/.snakemake/
climate-projection-module/main/.snakemake/
dengue-infection-module/main/.snakemake/
zonal-statistics-module/main/.snakemake/
machine-learning-module/main/.snakemake/


# Conda / environments
conda/
.env/
venv/

/.quarto/
**/*.quarto_ipynb
