# Ignore all work folders

*.log
*.tmp
*.csv
*.sav
*.nc
climate-projection-module/work
zonal-statistics-module/work
dengue-infection-module/work
machine-learning-module/work

# Snakemake
.snakemake/
**/.snakemake/
climate-projection-module/main/.snakemake/
dengue-infection-module/work
zonal-statistics-module/work
machine-learning-module/work
others/

# Conda / environments
conda/
.env/
venv/
